# All I/Os

set_io fabric_valid X1Y10/A
set_io fabric_instr X1Y10/B
set_io fabric_wstrb[0] X1Y10/C
set_io fabric_wstrb[1] X1Y10/D
set_io fabric_wstrb[2] X2Y10/A
set_io fabric_wstrb[3] X2Y10/B
set_io fabric_ready X2Y10/C
set_io fabric_data[0] X2Y10/D
set_io fabric_data[1] X3Y10/A
set_io fabric_data[2] X3Y10/B
set_io fabric_data[3] X3Y10/C
set_io fabric_data[4] X3Y10/D
set_io fabric_data[5] X4Y10/A
set_io fabric_data[6] X4Y10/B
set_io fabric_data[7] X4Y10/C
set_io fabric_data[8] X4Y10/D

set_io fabric_data[9] X1Y0/A
set_io fabric_data[10] X1Y0/B
set_io fabric_data[11] X1Y0/C
set_io fabric_data[12] X1Y0/D
set_io fabric_data[13] X2Y0/A
set_io fabric_data[14] X2Y0/B
set_io fabric_data[15] X2Y0/C
